
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  min-height: 80vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
